<div>
    <nav>
        <a href="/">Voltar</a>
        <a href="/pessoa/cadastro">Novo</a>
    </nav>
    <table>
        <tr>
            <th>ID</th>
            <th>NOME</th>
            <th>CPF</th>
            <th>TELEFONE</th>
            <th>STATUS</th>
        </tr>
        {{#each pessoas}}
            <tr>
                <td>{{id}}</td>
                <td>{{nome}}</td>
                <td>{{cpf}}</td>
                <td>{{telefone}}</td>
                <td>{{status}}</td>
                <td>
                    <button onclick="adminExcluirPessoa({{id}})">Excluir</button>
                    <a href="/pessoa/editar/{{id}}">Editar</a>
                </td>
            </tr>
        {{/each}}
    </table>
</div>