{{#each feedbacks}}
        <div>
            <h2>{{titulo}}</h2>
            <p>{{descricao}}</p>
            <h3>{{nota}}</h3>
            <a href="/feedback/editar/{{id}}">Editar</a>
            <button onclick="excluirFeedback({{id}})">Excluir</button>
        </div>
{{/each}}