<div>
    {{#each chamados}}
        <form action="/atendimentos/cadastro" method="post">
            <h2>{{titulo}}</h2>
            <p>{{descricao}}</p>
            <p>{{status}}</p>
            <p>{{dataCriacao}}</p>
            <button type="submit" name="chamado_id" value="{{id}}">Atender</button>
        </form>
    {{/each}}
</div>